.heroContainer {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  aspect-ratio: 1920/979;
  //background: url('../../assets/hero-section.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Graphik-Medium', sans-serif;
  transition: height 0.3s ease;

  .logo {
    color: inherit;
    text-align: center;
    font-family: Alice;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 66.667% */
    cursor: pointer!important;
  }

  .menu {
    display: flex;
    justify-content: center;
    background: transparent;
    border-bottom: none;
    height: 100px;
    width: calc(100vw - 140px);
    position: absolute;
    pointer-events: none;
    color: inherit;

    .ant-menu-item {
      text-align: center;
      font-family: "Graphik Web" !important;
      font-size: 16px !important;
      font-style: normal;
      font-weight: 400!important;
      line-height: 16px !important;
      cursor: pointer;
      color: inherit;
    }
  }

  .icons {
    display: flex;
    gap: 25px;
    font-size: 20px;
    align-items: center;

    > img {
      cursor: pointer;
      padding: 10px;
    }
  }
}

.categoryTableWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
  margin-top: 100px;
  transition: opacity 0.3s ease;
  z-index: 3;
}
