// ImageSlider.scss
.beeon-slider {
  position: relative;
  width: 100%;
  height: 100%;

  .slide1 {
    background: url('https://storage.yandexcloud.net/pc-mediafiles/test1/banners/banner1.webp') no-repeat center center;
    aspect-ratio: 1920 / 979!important;
  }

  .slide2 {
    background: url('https://storage.yandexcloud.net/pc-mediafiles/test1/banners/banner2.webp') no-repeat center center;
    aspect-ratio: 1920 / 979!important;
  }

  .slide3 {
    background: url('https://storage.yandexcloud.net/pc-mediafiles/test1/banners/category-banner.webp') no-repeat center center;
    aspect-ratio: 1920/419!important;
    color: white;
    @media (max-width: 768px) {
      display: flex;
      align-items: start;
      flex-direction: column;
      aspect-ratio: 1920 / 979;
    }
  }

  .slide {
    width: 100%;
    flex-shrink: 0;
    aspect-ratio: 1920/979;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 768px) {
      padding: 11px 20px;
      display: flex;
      align-items: start;
      flex-direction: column;
      aspect-ratio: 1920 / 579;
    }

    &.slide3 {
      aspect-ratio: 1920/419 !important;
    }

    @media (max-width: 768px) {
      &.slide3 {
        aspect-ratio: 1920/879 !important;
      }
    }

    &-content {
      padding: 20px;

      .title {
        font-size: 6rem;
        font-weight: 300;
        letter-spacing: 0.5rem;
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: 'Graphik-Medium', system-ui;
      }

      .subtitle {
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-family: 'Graphik-Medium', system-ui;
      }
    }
  }

  // Стили для карусели Ant Design
  .ant-carousel {
    height: 100%;

    .slick-slide {
      height: 100%;
    }
  }
}

.ant-carousel .slick-dots {
  z-index: 0;
}