// OnjiPromo.module.scss
.catalogBtnBlockWrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 88px;
  padding: 100px 0 50px 0;
}

.topText {
  max-width: 1440px;
  margin: 0 auto;
  color: #000;
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 103.125% */
  letter-spacing: 7px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 208px;
}

.discountBlock {
  display: block;
  flex-direction: column;
  color: #000;
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 103.125% */
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-left: -7%;
}

.catalogButton {
  color: #000;
  text-align: right;
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.5px; /* 192.5% */
  letter-spacing: -0.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.container {
  position: relative;
  width: 130%;
  margin-left: -15%;
  //min-height: 100vh;
  background: #fff;
  //overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lineWrapper {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  animation: slide 50s linear infinite;
  will-change: transform; // Оптимизация анимации

  &:nth-child(2) {
    animation-duration: 50s;
    animation-direction: reverse; // Добавляем разнообразия
  }

  &:nth-child(3) {
    animation-duration: 50s;
  }

  &:nth-child(4) {
    animation-duration: 50s;
    animation-direction: reverse;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-38%);
  }
}

.imagesContainer {
  display: flex;
  flex-wrap: nowrap;
}

.item {
  height: 320px;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin: 0 20px;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: Alice, serif;
  font-size: 210px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 7.619% */
}

.centerBlock {
  position: absolute;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  top: -31%;
  //left: 50%;
  //transform: translate(-50%, -50%);

  > img {
    width: 846.541px;
    height: 1036.872px;
    transform: rotate(3.159deg);
    flex-shrink: 0;
    aspect-ratio: 846.54/1036.87;
  }
  //z-index: 1;
}

.textBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .text {
    color: #000;
    font-family: 'Graphik-Medium', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 165% */
    text-transform: uppercase;
  }

  .onji {
    height: 100%;
    color: #000;
    font-family: Alice;
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 30.6px;
  }
}

.catalogButton {
  margin-top: 20px;
  padding: 0;
  color: #000;
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: #A8BBA2;
    > span {
      border-bottom-color: #A8BBA2;
    }
  }

  > span {
    border-bottom: 1px solid black;
  }
}

.onjiTitle {
  color: #000;
  text-align: center;
  font-family: Alice;
  font-size: 210px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 7.619% */
}
