// FooterV2.module.scss
.container {
  background: black;
  position: relative;
  width: 100%;
  padding: 60px 0;
  color: white;
  min-height: 586px;
}

.logo {
  color: #fff!important;
  font-family: Alice, serif;
  font-size: 2.5rem !important;
  max-width: 1440px;
  margin: 0 auto;
}

.mainRow {
  max-width: 1440px;
  margin: 0 auto !important;
}

.section {

  &Title {
    margin-bottom: 15px !important;
    color: #FFF!important;
    font-family: 'Graphik-Medium', system-ui;
    font-size: 21.828px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.2px; /* 110.866% */
  }
}

.supportText {
  color: #b3b3b3 !important;
  font-size: 0.85rem !important;
  display: block !important;
  margin-bottom: 15px !important;
}

.linkText {
  color: #b3b3b3 !important;
  font-size: 0.9rem !important;
  display: block !important;
  margin-bottom: 8px !important;
  cursor: pointer;

  &:hover {
    color: white !important;
  }
}

.contactsRow {
  margin-top: 15px;
  display: flex;
  gap: 25px;

  > .contactsRowItem {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
  }
}


.icon {
  height: 16px!important;
  color: white !important;
}

.contactText {
  font-size: 0.9rem !important;
  color: white;
}

.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin: 40px 0;
  width: 100%;
}

.bottomSection {
  max-width: 1440px;
  margin: 0 auto !important;
}

// Добавьте реальные размеры и фоновые изображения
.socialIcons, .appStores, .paymentMethods {
  display: flex;
  gap: 25px;

  div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    cursor: pointer;
  }
}

.tgIcon { width: 20px; height: 20px;
  background: url("https://storage.yandexcloud.net/pc-mediafiles/test1/icons-onji/telegram.png")}
.vkIcon { width: 20px; height: 20px;
  background: url("https://storage.yandexcloud.net/pc-mediafiles/test1/icons-onji/vk.png")}
.ytIcon { width: 20px; height: 20px;
  background: url("https://storage.yandexcloud.net/pc-mediafiles/test1/icons-onji/yt.png")}
.googlePlay { width: 106px; height: 25px;
  background: url("https://storage.yandexcloud.net/pc-mediafiles/test1/icons-onji/google-play.png")}
.appStore { width: 91px; height: 25px;
  background: url("https://storage.yandexcloud.net/pc-mediafiles/test1/icons-onji/app-store.png")}
.mastercard { width: 43px; height: 30px; opacity: 0.5;
  background: url("https://storage.yandexcloud.net/pc-mediafiles/test1/icons-onji/master-card.png")}
.visa { width: 34px; height: 30px; opacity: 0.5;
  background: url("https://storage.yandexcloud.net/pc-mediafiles/test1/icons-onji/visa.png")}
.mir { width: 47px; height: 30px; opacity: 0.5;
  background: url("https://storage.yandexcloud.net/pc-mediafiles/test1/icons-onji/mir.png")}

@media (max-width: 768px) {
  .logo {
    font-size: 2rem !important;
  }

  .section {
    margin-bottom: 30px;
  }

  .divider {
    margin: 30px auto;
  }
}