// Footer.module.scss
.container {
  background: black;
  position: relative;
  width: 100%;
  padding: 60px 20px;
  color: white;
  min-height: 586px;
}

.logo {
  font-family: 'Alice-Regular, Helvetica' !important;
  font-size: 2.5rem !important;
  text-align: center !important;
  margin-bottom: 40px !important;
}

.mainRow {
  max-width: 1200px;
  margin: 0 auto !important;
}

.section {
  padding: 0 15px;

  &Title {
    margin-bottom: 15px !important;
    color: #FFF!important;
    font-family: 'Graphik-Medium', system-ui;
    font-size: 21.828px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.2px; /* 110.866% */
  }
}

.supportText {
  color: #b3b3b3 !important;
  font-size: 0.85rem !important;
  display: block !important;
  margin-bottom: 15px !important;
}

.linkText {
  color: #b3b3b3 !important;
  font-size: 0.9rem !important;
  display: block !important;
  margin-bottom: 8px !important;
  cursor: pointer;

  &:hover {
    color: white !important;
  }
}

.contactsRow {
  margin-top: 15px;
}

.icon {
  height: 48px!important;
  color: white !important;
}

.contactText {
  font-size: 0.9rem !important;
  color: white;
}

.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin: 40px auto;
  width: 90%;
  max-width: 1200px;
}

.bottomSection {
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 0 20px;
}

// Добавьте реальные размеры и фоновые изображения
.socialIcons, .appStores, .paymentMethods {
  div {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

  }
}

.tgIcon { width: 20px; height: 20px;
  background: url("https://storage.yandexcloud.net/pc-mediafiles/test1/icons-onji/telegram.png")}
.vkIcon { width: 20px; height: 20px; }
.ytIcon { width: 20px; height: 20px; }
.googlePlay { width: 106px; height: 25px; }
.appStore { width: 91px; height: 25px; }
.mastercard { width: 43px; height: 30px; opacity: 0.5; }
.visa { width: 34px; height: 30px; opacity: 0.5; }
.mir { width: 47px; height: 30px; opacity: 0.5; }

@media (max-width: 768px) {
  .logo {
    font-size: 2rem !important;
  }

  .section {
    margin-bottom: 30px;
  }

  .divider {
    margin: 30px auto;
  }
}