.productsWrapper {
  margin-top: 20px;
  max-width: 1440px;
  width: 100%;

  @media (min-width: 768px) {
    margin-top: 0px;
  }
}

.categoryTableWrapper {
  position: sticky;
  top: 59px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
  z-index: 3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}