// CategoryTable.scss
.category-table-container {
  width: 80%;
  overflow-x: auto;
  padding: 37px 0 133px 0;

  .category-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    // Заголовки столбцов
    .ant-table-thead > tr > th {
      background-color: white;
      text-align: left;
      padding: 12px 16px;
      border-bottom: unset!important;
      white-space: nowrap;
      color: #000;
      font-family: 'Graphik-Medium', system-ui;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 100% */
    }

    // Ячейки таблицы
    .ant-table-tbody > tr > td {
      padding: 10px 16px;
      border-bottom: unset!important;
      transition: background 0.3s;
      font-family: 'Graphik-Medium', system-ui;
      color: #696969;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */

      &:hover {
        color: black;
        cursor: pointer;
      }



      &:hover {
        background: #fafafa;
      }
    }

    // Убираем границы у таблицы
    &.ant-table {
      border: none;
    }

    // Убираем стандартные стили Ant Design для строк
    .ant-table-tbody > tr {
      &:hover:not(.ant-table-expanded-row) > td {
        background: transparent;
      }
    }
  }
}

.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: white;
}