.filtersTitle {
  color: #000;
  font-family: 'Graphik-Medium', system-ui;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px; /* 101.563% */
  text-transform: lowercase;
}