.filtersTitle {
  color: #000;
  font-family: 'Graphik-Medium', system-ui;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px; /* 101.563% */
  text-transform: lowercase;
}

.collapse {
  background: transparent;
  border: none;

  :global {

    .ant-collapse-header {
      font-family: 'Graphik-Medium', system-ui;
      padding: 16px 0 !important;
      font-size: 19px !important;
      font-weight: 600 !important;
      text-transform: lowercase !important;
      align-items: center!important;
    }

    .ant-collapse-content {
      border-top: none !important;
      background: transparent !important;
      font-family: 'Graphik-Medium', system-ui;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s;

  path {
    stroke: #000;
  }
}

.closeIcon {
  @extend .icon;
  transform: rotate(45deg);
}