.brandsBlockTitleWrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 60px;
}

.titleContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.controlsContainer {
  position: absolute;
  width: 100%;
  padding-right: 25px;
}

.sliderWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin: 48px auto 212px;
}

.brandsWrapper {
  display: flex;
  will-change: transform; // Аппаратное ускорение
}

.item {
  padding: 0 45px;
  cursor: pointer;
  transition: filter 0.3s ease;
  flex-shrink: 0;

  // Размеры будут заданы через инлайн-стили
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.titleText {
  font-family: "Graphik Medium", sans-serif;
  font-size: 34.9px;
  font-weight: 500;
  color: black;
}

.arrowActiveContainer {
  color: black;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: #A8BBA2;
  }
}

.arrowInactiveContainer {
  color: #B3B3B3;
  pointer-events: none;
}